/cobertura.ser
.settings
.classpath
/target*
/bin
/logs
/doc
.gitignore~
*.war
.sonar
.project
/webservices/duplicate-user-checker/target/
/webservices/duplicate-user-checker/nb-configuration.xml
/webservices/duplicate-user-checker/src/main/webapp/META-INF/context.xml
*.iml
.idea/*
